.commento-root {
	max-width: 50ch;
}

.commento-root .commento-submit-button {
  background: var(--light-primary);
  color:var(--light-bg);
}

.commento-root .commento-login .commento-login-text {
	color:var(--light-primary);
	transition:all ease-in .25s;
}

.commento-root:hover .commento-login:hover .commento-login-text:hover {
	color:var(--light-links);
}

@media (prefers-color-scheme: dark)
{

	.commento-root .commento-login .commento-login-text {
		color:var(--dark-primary);
	}

	.commento-root:hover .commento-login:hover .commento-login-text:hover {
		color:var(--dark-links);
	}

	.commento-root .commento-submit-button {
	  background: var(--dark-primary);
	  color:var(--dark-bg);
	}

}
